body{
    margin-top:150px;
    margin-left:150px;
    text-align: left;
    background:rgb(208, 252, 120);
}
header{
    margin-bottom: 10px;
}
section{
    margin-right:auto;
    background:white;
    padding:15px;
    border-radius: 10px;
    width:700px;
    text-align: center;
}
h1{
    font:normal 30pt arial; 
    font-style:oblique;
}
div#res{
    margin-top:40px;
    font:normal 30pt arial;
}
input{
    font:normal 13pt arial;
    width:160px;
    height:30px;
    text-align: center;
    transition:.3s;
}
input#somar:hover{
    font:normal 18pt sans-serif;
    width:180px;
    height:40px;
}
